@media (max-width: 1000px){
  .menu{
    order: -1;
    &__btn{
      display: block;
    }
    &__list{
      position: absolute;
      top: 100%;
      left: -15px;
      right: -15px;
      background-color: $yellow;
      text-align: center;
      border-top: 5px solid $red;
      border-bottom: 5px solid $red;
      padding: 20px 0;
      display: none;
      z-index: 30;
    }
    &__item{
      display: block;
      & + &{
        margin-left: 0;
        border-top: 1px solid rgba($red, .5);
      }
    }
    &__link{
      display: block;
      font-size: 20px;
      padding: 25px 0;
      &::after{
        display: none;
      }
    }
  }
  .logo{
    margin-right: auto;
    margin-left: 30px;
  }
  .header__bottom-inner{
    height: 90px;
  }
}

@media (max-width: 500px){
  .offer{
    &__title{
      font-size: 35px;
      line-height: 45px;
    }
    &__inner{
      font-size: 15px;
      line-height: 25px;
    }
    &__advantages{
      display: block;
      &-item{
        position: relative;
        padding-left: 30px;
        &::before{
          content: "";
          position: absolute;
          left: 0;
          bottom: 10px;
          width: 4px;
          height: 4px;
          background-color: #fc0;
          border-radius: 50%;
        }
        & + &{
          margin-left: 0;
          margin-top: 5px;
        }
      }
    }
    &__buttons{
      display: block;
    }
    &__btn-more{
      width: 100%;
      text-align: center;
    }
    &__btn-world{
      margin-left: 0;
      margin-top: 20px;
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 400px){
  .header__contact-link{
    display: none;
  }
  .header__search-form{
    width: 100%;
  }
  .header__search-input{
    width: 100%;
  }
}

@media (min-width: 1001px){
  .menu__list{
    display: block !important;
  }
}