@media (max-width: 1500px){
  .footer{
    background: #fff;
    &__inner{
      transform: skew(0);
      background-color: transparent;
      padding-left: 50px;
      padding-right: 40px;
    }
    &__col{
      transform: skew(0);
    }
  }
}

@media (max-width: 1100px){
  .services__inner{
    flex-direction: column;
  }
  .services__items{
    margin-bottom: 50px;
    justify-content: space-between;
  }
  .services__form{
    margin-left: 0;
  }
  .services__form-btn{
    margin-top: 0;
    margin-left: 20px;
  }
  .about__item-content{
    padding: 20px 15px 25px;
  }
}

@media (max-width: 1000px){
  .menu{
    order: -1;
    &__btn{
      display: block;
    }
    &__list{
      position: absolute;
      top: 100%;
      left: -15px;
      right: -15px;
      background-color: $yellow;
      text-align: center;
      border-top: 5px solid $red;
      border-bottom: 5px solid $red;
      padding: 20px 0;
      display: none;
      z-index: 30;
    }
    &__item{
      display: block;
      & + &{
        margin-left: 0;
        border-top: 1px solid rgba($red, .5);
      }
    }
    &__link{
      display: block;
      font-size: 20px;
      padding: 25px 0;
      &::after{
        display: none;
      }
    }
  }
  .logo{
    margin-right: auto;
    margin-left: 30px;
  }
  .header__bottom-inner{
    height: 90px;
  }
}

@media (max-width: 900px){
  .about__items{
    flex-wrap: wrap;
  }
  .about__item{
    flex-basis: calc(50% - 30px);
    margin-bottom: 30px;
  }
}

@media (max-width: 800px){
  .services__items{
    margin-left: -30px;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .services__item{
    margin-left: 30px;
    flex-basis: calc(50% - 30px);
    margin-bottom: 50px;
  }
  .services{
    padding: 50px 0;
  }
  .services__title{
    margin-bottom: 50px;
    line-height: 60px;
    &::before{
      display: none;
    }
  }
  .info__inner{
    flex-direction: column;
  }
  .info__tabs{
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 75px;
    width: 100%;
  }
  .info__img-wrapper{
    margin-top: 0;
    margin-left: 35px;
    width: 100%;
    width: calc(100% - 35px);
  }
  .slogan__inner{
    flex-direction: column;
    text-align: center;
  }
  .slogan__btn{
    margin-left: 0;
    margin-top: 50px;
    width: 200px;
  }
  .clients{
    padding-bottom: 40px;
  }
  .clients__list{
    flex-wrap: wrap;
  }
  .clients__item{
    width: calc(50% - 30px);
    margin-bottom: 30px;
  }
  .footer::after,
  .footer::before{
    display: none;
  }
  .footer__inner{
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  .footer__col{
    & + &{
      margin-top: 30px;
    }
  }
  .footer__list{
    border: 1px solid $red;
    border-top: none;
    padding: 10px 15px;
    display: none;
  }
  .footer__col-title{
    border: 1px solid $red;
    padding: 15px;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    &::after{
      content: '\f107';
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      font-family: 'icomoon';
      color: $red;
      transition: all .3s;
    }
  }
  .footer__list-link{
    display: block;
    padding: 10px 0 0 10px;
  }
  .footer__col-title.active{
    &::after{
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

@media (max-width: 580px){
  .services__item{
    flex-basis: 100%;
  }
  .services__item-img{
    height: 250px;
  }
  .services__form{
    width: 100%;
  }
  .about__item{
    flex-basis: 100%;
  }
  .about__title{
    font-size: 30px;
    line-height: 40px;
  }
  .about__video{
    padding-top: 80px;
    min-height: 550px;
  }
  .about{
    margin-bottom: 50px;
  }
}

@media (max-width: 500px){
  .offer{
    &__title{
      font-size: 35px;
      line-height: 45px;
    }
    &__inner{
      font-size: 15px;
      line-height: 25px;
    }
    &__advantages{
      display: block;
      &-item{
        position: relative;
        padding-left: 30px;
        &::before{
          content: "";
          position: absolute;
          left: 0;
          bottom: 10px;
          width: 4px;
          height: 4px;
          background-color: #fc0;
          border-radius: 50%;
        }
        & + &{
          margin-left: 0;
          margin-top: 5px;
        }
      }
    }
    &__buttons{
      display: block;
    }
    &__btn-more{
      width: 100%;
      text-align: center;
    }
    &__btn-world{
      margin-left: 0;
      margin-top: 20px;
      width: 100%;
      text-align: center;
    }
  }
  .services__form{
    max-width: 420px;
    padding: 15px;
  }
  .services__form-btn{
    margin-left: 0;
    margin-top: 20px;
  }
  .info__tabs-content{
    padding: 30px 10px;
  }
  .info__img-wrapper{
    margin-left: 0;
    width: 100%;
    &::before{
      display: none;
    }
  }
  .info__tabs{
    margin-bottom: 50px;
  }
  .info__dropdown-header{
    padding: 13px 45px 13px 10px;
  }
  .info__dropdown-btn{
    width: 35px;
  }
  .info__dropdown-content{
    padding: 20px 10px 15px;
  }
  .services__title{
    font-size: 40px;
    line-height: 50px;
    padding-top: 0;
  }
  .slogan{
    padding: 50px 0;
  }
  .slogan__title{
    font-size: 25px;
  }
  .slogan__text{
    font-size: 14px;
  }
  .services__form{
    .jq-selectbox{
      width: 100%;
    }
    .jq-selectbox__select{
      width: 100%;
    }
  }
}

@media (max-width: 400px){
  .header__contact-link{
    display: none;
  }
  .header__search-form{
    width: 100%;
  }
  .header__search-input{
    width: 100%;
  }
  .services__item-img{
    height: 180px;
  }
  .clients__item{
    width: 100%;
  }
  .footer__col-title{
    font-size: 14px;
  }
}

@media (min-width: 801px){
  .footer__col-title{
    pointer-events: none;
  }
  .footer__list{
    display: block !important;
  }
}

@media (min-width: 1001px){
  .menu__list{
    display: block !important;
  }
}