@import 'fonts';
@import 'vars';
@import 'global';


//start header
.header{
  font-size: 14px;
  line-height: 24px;
  &__top{
    background-color: $red;
  }
  &__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 50px;
    font-size: 14px;
    line-height: 24px;
  }
  &__contact-link{
    margin-left: auto;
    margin-right: 28px;
    position: relative;
    padding-left: 25px;
    &::before{
      content: '\f0c0';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-family: 'icomoon';
    }
  }
  .header__country{
    margin-right: 15px;
  }
  .jq-selectbox__select{
    height: auto;
    padding: 0;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    font: 14px/24px 'Poppins', sans-serif;
    color: #fff;
    text-shadow: none; 
  }
  .jq-selectbox__trigger{
    position: absolute;
    top: 0;
    right: -15px;
    width: 34px;
    height: 100%;
    border-left: none;
    &::after{
      content: '\f107';
      position: absolute;
      right: 0;
      top: 0;
      font-family: 'icomoon';
    }
  }
  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  .jq-selectbox.focused .jq-selectbox__select{
    border: none;
  }
  .jq-selectbox__dropdown{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid $red;
    border-radius: 0;
    background: $yellow;
    box-shadow: none;
    font: 14px/24px 'Poppins', sans-serif;
    margin-top: 12px;
  }
  .jq-selectbox li{
    min-width: 100%;
    color: $red;
    &:hover{
      background-color: $red;
      color: #fff;
    }
    &.selected{
      background-color: $red;
      color: #fff;
    }
  }
  &__bottom{
    background-color: $yellow;
  }
  &__bottom-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    position: relative;
  }
}
.menu{
  &__btn{
    width: 35px;
    cursor: pointer;
    display: none;
    &-line{
      height: 3px;
      background-color: $red;
      & + &{
        margin-top: 4px;
      }
    }
  }
  &__item{
    & + &{
      margin-left: 18px;
    }
  }
  &__link{
    color: $red;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5px;
    transition: all .3s;
    padding: 0 15px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: -48px;
      left: 0;
      right: 0;
      background-color: transparent;
      height: 0;
      transition: all .3s;
    }
    &:hover{
      text-shadow: 0 0 .6px $red;
      &::after{
        background-color: $red;
        height: 4px;
      }
    }
  }
}
.header__search{
  position: relative;
  width: 50px;
  height: 50px;
  background-color: $red;
  box-shadow: 0px 10px 18px 0px rgba(186, 0, 0, 0.4);
  border-radius: 50%;
  cursor: pointer;
  flex-shrink: 0;
  &::before{
    content: '\f002';
    position: absolute;
    font-family: 'icomoon';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  &-form{
    position: absolute;
    z-index: 20;
    top: 100%;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: all .3s;
  }
  &-input{
    background-color: $yellow;
    border: 1px solid transparent;
    width: 300px;
    height: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all .3s;
    padding: 0 50px 0 20px;
  }
  &-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 0;
    background-color: $red;
    border-bottom-right-radius: 20px;
    transition: all .3s;
    overflow: hidden;
    &::before{
      content: '\f002';
      position: absolute;
      font-family: 'icomoon';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
    }
  }
}
.header__search-form.active{
  height: 50px;
  overflow: visible;
  .header__search-input{
    height: 50px;
    border-color: $red;
  }
  .header__search-btn{
    height: 50px;
  }
}
//end header


//start offer
.offer{
  background-image: url(../images/offer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, rgba(186,0,0,1) 0%,rgba(191,45,33,1) 29%,rgba(192,56,41,0.9) 36%,rgba(194,71,53,0.8) 46%,rgba(194,74,55,0.76) 48%,rgba(194,89,71,0.6) 55%,rgba(194,108,91,0.4) 64%,rgba(194,133,118,0.3) 76%,rgba(194,162,150,0.1) 90%,rgba(194,182,172,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba0000', endColorstr='#00c2b6ac',GradientType=1 );
  }
  &__inner{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    padding: 50px 0;
  }
  &__title{
    max-width: 450px;
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 35px;
  }
  &__text{
    max-width: 750px;
    color: $yellow;
    padding-top: 40px;
    position: relative;
    margin-bottom: 30px;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 4px;
      background-color: $yellow;
    }
  }
  &__advantages{
    display: flex;
    margin-bottom: 30px;
    &-item{
      font-weight: 700;
      text-transform: uppercase;
      & + &{
        padding-left: 30px;
        margin-left: 27px;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          left: 0;
          bottom: 8px;
          width: 4px;
          height: 4px;
          background-color: $yellow;
          border-radius: 50%;
        }
      }
    }
  }
  &__buttons{
    display: flex;
  }
  &__btn-more{
    @extend %btn;
  }
  &__btn-world{
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 8px 34px;
    margin-left: 20px;
  }
}
//end offer

@import 'media';